<%= link_to "Add Instructor", new_instructor_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @instructor.each do |instructor|%>
      <tr>
        <th scope="row">1</th>
        <td><%= instructor.name %></td>
        <td><%= instructor.email%></td>
        <td><%= link_to "Edit", edit_instructor_path(instructor) %></td>
        <td><%= link_to "Show", instruct%>
      </tr>
    <% end %>
  </tbody>
</table>
